* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}



/* Style header */
header {
    width: 100%;
    height: 60vh;
    background-color: #E6E6E6;
}

header h2 {
    font-family: sans-serif;
    font-size: 30pt;
    color: #65B891;
}

/* Style div div-nav */
#div-nav {
    width: 100%;
    height: auto;
    background-color: #BBBBBB;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#div-nav h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 24pt;
    color: #3D3D3D;
}

/* Desable items */
#nav {
    display: none;
}

/* Style icon menu */
#menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 30vw;
}

.menu-icon {
    width: 80%;
    height: 5px;
    background-color: #3D3D3D;
}



/* Style div search */
#div-search {
    width: 100%;
    height: auto;
    background-color: #3D3D3D;
    padding-top: 5px;
    padding-bottom: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-input {
    width: 70%;
    height: 5vh;
    border: none;
}

/* Style placeholder */
#div-search input::placeholder {
    color: #000000;
    font-size: 12pt;
}



/* Style section quem somos */
#quem-somos {
    width: 100%;
    height: 30vh;
    background-color: #BBBBBB;
    padding-top: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quem-somos h1 {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #3D3D3D;
}

#qs-container {
    width: 90%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#qs-container p {
    color: #000000;
    font-family: 'Open Sans';
    text-align: justify;
}

span {
    font-weight: bold;
}

/* Style section projetos */
#fotos {
    width: 100%;
    height: auto;
    background-color: #E6E6E6;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fotos-container {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foto {
    width: 100%;
    height: 40vh;
}

#foto1 {
    background-image: url("../images/professor-criancas");
    background-size: cover;
    background-repeat: no-repeat;
}

#foto2 {
    background-image: url("../images/crianca-mae");
    background-size: cover;
    background-repeat: no-repeat;
}

#foto3 {
    background-image: url("../images/crianca-desenho");
    background-size: cover;
    background-repeat: no-repeat;
}

#foto4 {
    background-image: url("../images/criancas-brincando");
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    width: 100%;
    height: 50vh;
    background-color: #E6E6E6;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#social-container {
    width: 100%;
    height: 20vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#social-container a {
    width: 13vw;
    height: 6vh;
    color: #ffffff;
    text-transform: uppercase;
}

#fb {
    background-image: url("../images/facebook.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#ig {
    background-image: url("../images/instagram.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#ks {
    background-image: url("../images/kickstarter.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#form {
    width: 100%;
    height: 30vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-component {
    width: 90%;
    height: 5vh;
    margin-bottom: 1.5%;
}

#form-textArea {
    width: 90%;
    margin-bottom: 5%;
}

#button-enviar {
    margin-bottom: 3vh;
    background-color: #E6E6E6;
    border: 1px solid #BBBBBB;
    color: #000000;
    text-transform: uppercase;
}

/* Style placeholder */
#form input::placeholder {
    color: #3D3D3D;
    font-size: 10pt;
}

